// Imports
@import "../base/fonts";
@import "../base/colors";

.footer {
	.socialLinks {
		svg:hover {
			fill: $accent-default;

			g,
			path {
				fill: $accent-default;
			}
			line {
				fill: $accent-default;
			}
		}
	}
}
