// Imports
@import "../../base/fonts";
@import "../../base/colors";

.paragraph {
	h3,
	h4,
	h5 {
		@apply py-2 font-thin uppercase text-xl tracking-[0.10rem] font-schaboCondensed text-black;
	}

	h2 {
		font-family: $main;
		strong {
			@apply tracking-[0.05rem] font-extrabold;
		}
	}

	ul,
	ol {
		font-family: $body;
		@apply p-4 flex gap-2 sm:px-6 flex flex-col items-baseline justify-center border-l-2 border-primary-default;

		li {
			@apply px-2 list-disc text-left ml-4;

			&::marker {
				@apply ml-2;
			}

			a {
				@apply font-semibold underline text-primary-two hover:text-accent-two transition-all duration-500 ease-in-out;
			}
		}
	}

	p {
		font-family: $body;
		a {
			@apply font-semibold underline text-primary-two hover:text-accent-two transition-all duration-500 ease-in-out;
		}

		img {
			@apply object-cover object-center w-full h-full max-h-[350px] sm:max-h-[400px];
		}
	}
}
