/*===== FONTS =====*/
@font-face {
	font-family: schaboCondensed;
	src: url("../fonts/schabo-condensed.woff");
}

@font-face {
	font-family: borexRegular;
	src: url("../fonts/borex-regular.woff");
}

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: trigueSans;
	src: url("../fonts/trigue-sans.woff");
}

// Font Stack Properties
$main: "borexRegular", "PlusJakartaSans";
$secondary: "schaboCondensed", "PlusJakartaSans";
$body: "PlusJakartaSans", "PlusJakartaSans";

.font-borexRegular {
	font-family: $main;
}

.font-schaboCondensed {
	font-family: $secondary;
}

.font-PlusJakartaSans {
	font-family: $body;
}
